a{
    color: var(--body-color);
}

.content {
    padding: 68px 0px;
}

.authentication {
    background-color: #03052C;
    width: 40%;
    text-align: center;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1.8);
}

@media only screen and (max-width: 992px) {
    .authentication {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .authentication {
        width: 50%;
    }
}

@media only screen and (max-width: 585px) {
    .authentication {
        width: 80%;
    }
    button{
        margin:0px;
    }
    .pwd_criteria{
        font-size: 15px;
    }
}

.form-group {
    text-align: left;
}

.form-group input {
    width: 100%;
    border-radius: 5px;
}


/* For reset_password.php only */
.pwd_criteria{
    text-align: left;
    padding: 20px;
}


@media only screen and (max-width: 585px) {
    .pwd_criteria{
        font-size: 10px;
    }
}