/* Card Headings */

h1 {
    margin-bottom: 20px;
}

.card-headings h2{
    text-decoration: underline;
    padding-bottom: 20px;
    clear: both;
}

/* Card styles */

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-link {
    display: flex;
    color: inherit;
    /* Inherit text color from parent */
    text-decoration: none;
    /* Remove underline */
}

.card-border{
    border: 1px solid white;
}

.cards {
    box-sizing: border-box;
    /* Include padding and border in the element's size */
    flex: 1;
    border-radius: 4px;
    margin-right: 10px;
    overflow: hidden;
    width: auto;
    height: 280px;
    margin-top: 60px;
}

.card-img {
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
    width: 100%;
    /* Make sure image is responsive */
    height: auto;
    /* Maintain aspect ratio */
}


.card-body {
    display: flex;
    flex-direction: row;
    /* Stack children elements vertically */
    position: relative;
    /* This is required for absolute positioning of children */
    justify-content: space-between;
    align-items: flex-start;
}

.card-title,
.card-subtitle {
    margin-bottom: 18px;
}

.text-section {
    display: flex;
    /* Change display property to flex */
    flex-direction: column;
    justify-content: flex-end;
    /* Align text to the bottom */
    margin-bottom: auto;
    /* Ensure text stays at the bottom */
    padding: 20px 0px;
}


/* Button style */

.buttonsbelowCards{
    float: right;
    margin-bottom: 20px;
}


/* Responsive Design */

@media (max-width: 992px) {
    
    .card-container {
        flex-direction: column;
        /* Stack cards vertically */
        align-items: center;
        /* Align cards in the center */
    }
    
    .cards {
        width: 300px;
        height: 50%;
        /* Make cards full width */
        margin-bottom: 20px;
        /* Add some space between the cards */
    }

    .card-img {
        max-width: 100%;
        /* Allow image to use all available width */
        height: auto;
        /* Adjust height automatically */
        padding: 0;
        /* Remove padding */
    }

    .card-body {
        flex-direction: column;
        /* Stack elements vertically */
        align-items: flex-start;
        /* Align items to the start of the card */
    }

    .text-section,
    .button-section {
        max-width: 100%;
        /* Allow text and button sections to fill the card */
        /* Center align the content */
        margin-top: 10px;
        /* Add some space at the top */
    }

}