/* Base Colour of webpages */

:root {
    --bg-color: #020316;
    --body-color: #f7f5f5;
    --nav-color: #03052C;
}


/* Overall styling of webpage */
html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 300px;
    box-sizing: inherit;
    background-color: var(--bg-color);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: var(--body-color);
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content {
    padding: 68px;
    min-height: 100vh;
}

/* Navigation bar */

#logo {
    width: 60px !important;
    height: 60px !important;
}

.logo-unifit{
    color:var(--body-color);
    font-size:40px;
    padding: 8px;
}

nav {
    background-color: var(--nav-color);
}

.nav-link {
    color: var(--body-color);
    margin: 4px;
    background-color: transparent;
    text-align: center;
}

.nav-link.active {
    color: var(--body-color) !important;
    border-bottom: 2px solid white;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    color: white;
}

.button-primary {
    border-radius: 4px;
    background-color: #565EF3;
}

.dropdown-item:focus,
.dropdown-item:active {
    background-color: transparent !important;
    /* Remove background color on focus and active */
}

.dropdown-menu {
    background-color: transparent !important;
    /* Remove background color of dropdown menu */
}

.navbar-nav .nav-link.show {
    color: white !important;
}

.nav-item.dropdown .nav-link {
    color: #ffffff;
    text-align: center;
    /* Set the desired white color */
}

.navbar-toggler{
    background-color: rgb(113, 95, 75);
}

/* Button Styles */

button {
    border-radius: 4px;
    margin: 10px;
    border: none;
    background-color: rgb(113, 95, 75);
    padding: 10px;
    color: var(--body-color);
}

/* Footer Styles */

footer {
    text-align: center;
    border-top: 1px solid grey;
    font-size: 0.9rem;
    background-color: var(--nav-color);
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: auto;
    margin: 15px;
    /* Push the footer to the bottom */
}

.footer_sections {
    padding-top: 10px;
}

.list-unstyled li a {
    color: var(--body-color);
    text-decoration: none;
}