:root {
    --bg-color: #020316;
    --body-color: #f7f5f5;
    --nav-color: #0e1b3c;
}

html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 300px;
    box-sizing: inherit;
    background-color: var(--bg-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--body-color);
}

#logo {
    width: 60px !important;
    height: 60px !important;
}

nav {
    background-color: var(--nav-color);
}

.nav-link {
    color: var(--body-color);
    /* Change link color to black */
    text-decoration: none !important;
    /* Remove underline */
}

.w3-button {
    margin: 4px;
    background-color: #565EF3;;
}

.dropdown-item {
    color: black !important;
    /* Change dropdown item color to black */
}

.dropdown-item:focus,
.dropdown-item:active {
    background-color: transparent !important;
    /* Remove background color on focus and active */
}

.dropdown-menu {
    background-color: transparent !important;
    /* Remove background color of dropdown menu */
}

.content {
    padding: 68px;
    min-height: 100vh;
}

button {
    border-radius: 10px;
    margin: 10px;
    border: none;
    background-color: rgb(146, 135, 121, 1);
    padding: 10px;
}

.secButton {
    border-radius: 10px;
    margin: 10px;
    border: none;
    background-color: rgb(94, 87, 104, 1);
}

footer {
    text-align: center;
    border-top: 1px solid grey;
    font-size: 0.9rem;
    background-color: var(--nav-color);
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: auto;
    /* Push the footer to the bottom */
}

.footer_sections {
    padding-top: 10px;
}

.list-unstyled li a {
    color: var(--body-color);
    text-decoration: none;
}
.hide {
    display: none;
}