body {
    background-color: #3A445D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FCDEBE;
}


#logo {
    width: 60px !important;
    height: 60px !important;
}

nav {
    background-color: #d4d2a5;
}

.nav-link {
    color: black !important;
    /* Change link color to black */
    text-decoration: none !important;
    /* Remove underline */
}

.w3-button{
    margin: 4px;
}
.dropdown-item {
    color: black !important;
    /* Change dropdown item color to black */
}

.dropdown-item:focus,
.dropdown-item:active {
    background-color: transparent !important;
    /* Remove background color on focus and active */
}

.dropdown-menu {
    background-color: transparent !important;
    /* Remove background color of dropdown menu */
}
.content{
    padding-top: 68px;
}

button{
    border-radius: 10px;
    border: black 1px solid;
    margin: 10px;
}

footer {
    text-align: center;
    border-top: 1px solid grey;
    font-size: 0.9rem;
    margin-top: 100px;
    background-color: rgba(128, 0, 128, 0.854);
}

.footer_sections{

    padding-top: 30px;
}