/* For home.php Page */
.bg-image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0px;
}

.bg-image img {
    height: auto;
    object-fit: cover;
}

.quote {
    position: absolute;
    font-style: italic;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 1;
    color: white;
    margin: 20px;
}

.quote-responsive{
    color: white;
    font-style: italic;
    display: none;
}

.openingTagline {
    text-align: center;
    margin: 50px;
}

/* Responsive Design for home.php Page*/
@media (max-width: 576px) {

    .bg-image {
        display: none;
    }

    .quote-responsive{
        display: block;
    }
}


/* For my_workout.php Page */

.myWorkoutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

/* Responsive Design for my_workout.php Page */
@media (max-width: 576px) {

    .myWorkoutContainer {
        display: block;
        padding-bottom: 20px;
    }

    .green-button {
        display: flex;
        justify-content: center;
    }
}

/* For add_workout.php Page */

#exercise-list {
    max-width: 400px;
    max-height: 200px;
}

#cfmWorkout {
    float: right;
    margin-bottom: 10px;
}

/* Responsive Design for add_workout.php Page*/
@media (max-width: 767.33px) {
    .col-sm {
        flex: none;
    }

    #cfmWorkout {
        float: none;
    }
}

/* For add_workout.php and edit_instance.php */
.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.input-container div {
    padding-right: 10px;
}

.hide {
    display: none;
}