/* For home.php Page */

.openingTagline {
    text-align: center;
    /* padding: 20px; */
    margin: 50px;
}

.alt-headings h1 {
    display: none;
}

.top_Headings {
    margin-top: 70px;
}

@media (max-width: 576px) {

    .alt-headings {
        padding: 10px 0px;
    }

    .alt-headings>h1 {
        display: block;
        text-align: center;
        font-style: italic;
    }
}

/* For workout_info.php Page */
.workoutGuide h2 {
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (max-width: 570px) {
    #workoutButtons {
        flex-direction: column;
        /* Stack cards vertically */
        align-items: center;
        /* Align cards in the center */
    }

    .workoutImg {
        max-width: 100%;
        height: auto;
    }
}

/* For myWorkout.php */


.myWorkoutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.green-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}


@media (max-width: 576px) {

    .myWorkoutContainer {
        display: block;
        padding-bottom: 20px;
    }

    .green-button {
        display: flex;
        justify-content: center;
    }
}

/* For addWorkout.php */

#exercise-list {
    max-width: 400px;
    max-height: 200px;
}

#cfmWorkout {
    float: right;
    margin-bottom: 10px;
}

@media (max-width: 767.33px) {
    .col-sm {
        flex: none;
    }

    #cfmWorkout {
        float: none;
    }
}



.rounded-border {
    border-radius: 20px;
    border: 2px solid #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 250px;
    align-items: center;
    margin: auto;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.input-container div {
    padding-right: 10px;
}

.column {
    grid-gap: 100px;
}

.bg-image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.bg-image img {
    height: auto;
    object-fit: cover;
}

.quote {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: black;
}