.workout-name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.exercise {
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
    padding-bottom: 10px;
}

.exercise-info {
    padding: 10px 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}

.start-button {
    padding: 5px 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #4cae4c;
}

.info {
    display: flex;
    align-items: center;
    justify-content: end;
}

.info-left,
.info-right {
    align-items: center;
}

.info-left {
    padding-right: 20px;
}

.info-left img {
    width: 300px;
    height: auto;
}

.info-right {
    font-size: large;
    margin-left: 20px;
}

.set {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.set input {
    flex: 1;
    margin-right: 10px;
}

.set span {
    margin-right: 10px;
}