z.exercise-container {
    width: 500px;
    margin: auto;
}

.workout-name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.exercise {
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
    padding-bottom: 10px;
}

.exercise-info {
    padding: 10px 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}



.start-button {
    padding: 5px 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #4cae4c;
}

.info {
    display: flex; /* Enables flexbox */
    align-items: center; /* Centers children vertically */
    justify-content: start; /* Aligns children at the start of the container */
}

.info-left, .info-right {
    display: inline-flex; /* Allows the divs to grow as needed, but not take full width */
    align-items: center; /* Centers the content of each div vertically */
}

.info-left {
    padding-right: 20px; /* Adds some space between the left and right sides */
}

.info-left img {
    width: 200px; /* Specifies the width of the image */
    height: auto; /* Keeps the image aspect ratio intact */
}

.info-right {
    text-align: right; /* Aligns the equipment and sets information to the right */
    /* Add margin-left if you need more space between the .info-left and .info-right */
    margin-left: 20px; /* Adjust this value as needed to control spacing */
}