/* For workout_info.php Page */

h1 {
    text-align: center;
}

#workoutDetails, #exerciseDetails {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workoutImg, .exerciseImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px 0px;
}

.workoutGuide-description {
    margin-bottom: 20px;
}

.workoutGuide-description h2, .exerciseDescription h2 {
    text-decoration: underline;
    padding: 10px 0px;
    text-align: center;
}

.exerciseDescription h3{
    text-decoration: underline;
}


.buttonsbelowDescription{
    float: right;
    margin-bottom: 20px;
}

#workoutButtons {
    padding: 20px 0px;
}

.exerciseHeadings th {
    background-color: rgb(21, 21, 106);
}

.sessionCreationInfo th {
    background-color: rgb(45, 17, 64);

}

@media (max-width: 570px) {
    #workoutButtons {
        flex-direction: column;
        /* Stack cards vertically */
        align-items: center;
        /* Align cards in the center */
    }

    .workoutImg, .exerciseImg {
        max-width: 100%;
        height: auto;
    }

}

.workout-name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.exercise {
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
    padding-bottom: 10px;
}

.exercise-info {
    padding: 10px 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: end;
}

.info-left,
.info-right {
    align-items: center;
}

.info-left {
    padding-right: 20px;
}

.info-left img {
    width: 300px;
    height: auto;
}

.info-right {
    font-size: large;
    margin-left: 20px;
}

.set {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.set input {
    flex: 1;
    margin-right: 10px;
}

.set span {
    margin-right: 10px;
}